<!DOCTYPE html>
<html>
<head>
  <title>Filmster | Movie Reviewing Portal</title>
  <link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet">
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  <%= stylesheet_link_tag 'application', media: 'all'  %>
  <%= javascript_include_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "wrap">
    <%= render 'shared/nav' %>
    <%= render 'shared/flash_messages' %>
    <div class = "container">
      <div class = "row">
        
        <%= yield %>
        
      </div>
    </div>
</div>

</body>
</html>
